<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kurt</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tracking.js/1.1.3/tracking-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tracking.js/1.1.3/data/face-min.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <div id="clock"></div>
            <canvas id="canvas"></canvas>
            <div id="waitingBox" class="infoBox hidden">WAITING...</div>
            <div id="detectedBox" class="infoBox hidden">DETECTED</div>
        </div>        
    </body>    
</html>